h1{
    font-family: 'Euphoria Script', cursive;
}

.logo{
    font-family: 'Euphoria Script', cursive;
    color:#AACB73; 
}

.carousel-item img{
    width: 100%;
    height: 80vh;
}

#aboutus{
    width: 80%;
    height: 80vh;
    
}